%% -*- erlang -*-
[{monitor, [{update_interval, 500},                                % Sampling interval in ms
            {window, 30},                                          % Sampling window in secs
            {metrics, [io, total, context_switches, processes]}]}, % VM metrics of interest
 {lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}]}].
